@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


@import url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/library.less");
 @import url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/variables.less");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
 }
 
 :root{
  --text-color: #fff;
  --bg-color: #000;
  --main-color: #ffa343;
  
  --h2-font: 3rem;
  --h1-font: 6rem;
  --p-font: 1rem;
 }

 body{
  color: #000;
  background: #040404;
 }

header{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background: transparent;
  padding: 27px 17%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .50s ease;
}
.logo{
  height: 70px;
  width: 200%;
}

.navbar{
  display: flex;
}

.navbar a {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  margin: 15px 22px;
  transition: all .50s ease;
}

.navbar a:hover{
  color: #00bcd4;
}

.h-right{
  display: flex;
  align-items: center;
}

.h-right a{
  vertical-align: middle;
  font-size: 20px;
  color: #000;
  margin-right: 18px;
  margin-left: 5px;
  transition: all .50s ease;
}

.h-right a:hover{
  color: #00bcd4;
  transform: translateY(-3px);
}

#menu-icon{
  color: #000;
  font-size: 30px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

section{
  padding: 70px 17% 60px;
}

.home{
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.862), rgba(57, 92, 92, 0.916)), url(images/sean-pollock-PhYq704ffdA-unsplash.jpg);
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-text{
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #000;
}

.home-text h1{
  font-size: 50px;
  font-weight: 800;
  line-height: 1.2;
  color: #000;
  margin-bottom: 20px;
}

.home-text p{
  font-size: 10px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffffab;
  margin-bottom: 35px;
}

.btn{
  display: inline-block;
  padding: 13px 40px;
  background: #00bcd4;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all .50s ease;
  cursor: pointer;
}

.btn:hover{
  transform: translateX(10px);
  border: 2px solid #000;
  background: transparent;
  color: #000;
}

.feature-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.row-img{
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.row-img img{
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.7s;
}

.row-img img:hover{
  transform: scale(1.2);
}

.feature-content h4{
  font-size: 17px;
  font-weight: 500;
  color: #f7f6f6;
  cursor: pointer;
  transition:  all .50s ease;
}

.feature-content h4:hover{
  color: #00bcd4;
}

.holiday{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 9rem;
}

.holiday-img img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.holiday-text h5{
  font-size: 12px;
  font-weight: 600;
  color: #00bcd4;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.holiday-text h2{
  font-size: 22px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 25px;
  color: #f7f6f6;
}

.holiday-text p{
  font-size: 10px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffffab;
  margin-bottom: 35px;
}

.holiday-text .btn:hover{
  transform: translateX(10px);
  border: 2px solid #666;
  background: transparent;
  color: #666;
}

/*----------------------------------------------------------------Blog ----------------------------------------------------------------*/
#blog{
  background:  linear-gradient(135deg, hsla(0, 0%, 3%, 0.858),hsla(183, 97%, 27%, 0.564)),url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1776&q=80);
  background-size:cover;
  background-position:right;
  background-attachment:fixed;
  overflow-x: hidden;
}
#header1{
  margin:20px;
}
#header1>h1{
  text-align:center;
  font-size:3rem;
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
}
#header1>p{
  text-align:center;
  font-size:1rem;
  font-family: 'Raleway', sans-serif;
}
.containerB{
  width:100vw;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  padding:40px 20px;
}
.cardB{
  display:flex;
  flex-direction:column;
  width:400px;
  margin-bottom:60px;
}
.cardB>div{
  box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
}
.card-image{
  width:400px;
  height:250px;
}
.card-image>img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:bottom;
}
.card-text{
  margin:-30px auto;
  margin-bottom:-50px;
  height:300px;
  width:300px;
  border-radius: 20px;
  background-color:#1D1C20;
  color:#fff;
  padding:20px;
}
.card-meal-type{
  font-style:italic;
}
.card-title{
  font-size:2.2rem;
  margin-bottom:20px;
  margin-top:5px;
}
.card-body{
  font-size:1.25rem;
}
.card-price{
  width:100px;
  height:59px;
  background-color:rgb(18, 147, 180);
  color:#fff;
  margin-left:auto;
  font-size:17px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.button{
  cursor: pointer;
  border-radius: 5px;

}

@media (max-width: 922px){
  #blog{
    overflow-x: hidden;
    max-width: 100%;
    padding-left: 20px;
  }
  .button {
    cursor: pointer;
    border-radius: 5px;
    margin-right: 16px;
}

.cardB {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin-bottom: 0;
}

.card-image {
  width: 241px;
    height: 128px;
    padding-right: 10px;
}
.card-text {
    margin: -30px auto;
    margin-bottom: -50px;
    height: 300px;
    width: 300px;
    background: none;
    color: #fff;
    padding: 20px;
}

.cardB>div {
  box-shadow: none;
}

.card-meal-type {
  font-style: italic;
  font-size: 12px;
}

.card-price {
  width: 84px;
    height: 31px;
    background-color: rgb(18, 147, 180);
    color: #fff;
    margin-top: 39px;
    font-size: 8px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title {
  font-size: 16px;
    margin-bottom: 4px;
    text-align: center;
    margin-top: 5px;
}
.card-body {
  font-size: 11px;
  text-align: center;
}
}

@media (max-width: 576px){
  .containerB {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
}
#blog {
  overflow-x: hidden;
  max-width: 100%;
  padding: 20px;
}
}

/*----------------------------------------------------------------Contact Us -----------------------------------------------------------*/

.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:  linear-gradient(135deg, hsla(0, 0%, 3%, 0.781),hsla(202, 85%, 5%, 0.564)), url(images/Expo-2020-scaled.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.contact .content{
  max-width: 800px;
  text-align: center;
}

.contact .content h2{
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.contact .content p{
  font-weight: 500;
  color: #fff;
}
 
.containerC{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.containerC  .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.containerC .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fbf9f9;
  color: #141414;
  display: flex;
  padding-top: 14px;
  justify-content: center;
  border-radius: 50%;
  font-size: 31px;
}
.containerC .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #faf6f6;
  flex-direction: column;
  font-weight: 300;
}

.containerC .contactInfo .box .text h3{
  font-weight: 500;
  color: #00bcd4;
}

.contactForm{
  width: 52%;
  padding: 40px;
  color: #141414;
  background: #f7f6f6;
  border-radius: 10px;
  box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
}

.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type='submit']{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}



  

@media (max-width: 922px) {
    .contact .content h2 {
        font-size: 1.5rem;
    }

    .contactForm h2 {
        font-size: 20px;
    }

    .containerC .contactInfo .box .icon {
        font-size: 20px;
    }

    .containerC .contactInfo .box .text {
        font-size: 12px;
    }

    .contactForm .inputBox input,
    .contactForm .inputBox textarea {
        font-size: 14px;
    }

    .contact .content h2 {
      font-size: 24px;
  }

    .contactForm .inputBox input[type='submit'] {
        font-size: 16px;
    }

    .containerC{
      display: block;
      align-items: center;
      justify-content: center;
    }

    .containerC .contactInfo{
       width: 100%;
    }

     .containerC .contactForm{
      width: 90%;
     }
    
    .contact{
      padding: 10px;
    }
}

@media (max-width: 567px){
  .containerC .contactForm{
    width: 100%;
   }
  .contact{
    padding: 10px;
  }
}

/*----------------------------------------------------------------Foooter Section------------------------------------------------------*/
@media (max-width: 922px){
  .px-4 {
    padding-left: 0rem;
    padding-right: 0rem;
}
footer {
  background-color: rgb(170, 202, 202);
  display: block;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-top: 1px solid rgba(255, 255, 255, .1);
}
.w-full {
  width: 100%;
  text-align: center;
}
}

